---
layout: default
---

<section class="hero is-large is-bold header">
  <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title hero-title is-2">
          Hi
        </h1>
        <h2 class="subtitle hero-subtitle is-5">
          My name's Steve. I do code things
          <br/>
          ...somewhat.
        </h2>
        <p>
          <a href="#projects-area">
            <span class="icon">
              <i class="fa fa-arrow-circle-o-down"></i> 
            </span>
            <span>
              My Projects
            </span>
          </a>
        </p>
      </div>
    </div>
</section>

{% include projects.html %}
{% include contact.html %}


