<section class="contact">
  
  <div class="container has-text-centered project-title">
    <h1 class="title is-2">Let's Talk.</h1>
  </div>

  <div class="column is-half is-offset-one-quarter">
    <label class="label">Email</label>
    <p class="control has-icon has-icon">
      <input class="input" type="text" placeholder="Email">
      <i class="fa fa-envelope"></i>
    </p>
    <label class="label">Message</label>
    <p class="control">
      <textarea class="textarea" placeholder="Say Hi."></textarea>
    </p>
    <p class="control">
      <button class="button is-primary">Submit</button>
    </p>
  </div>
</section>