<nav class="nav">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      Steve M: theoretical coder
    </a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="https://github.com/uziandari">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="https://twitter.com/SteveMessing">
      <span class="icon">
        <i class="fa fa-twitter"></i>
      </span>
    </a>
  </div>

  <span class="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item is-tab {% if page.url == '/index.html' %}is-active{% endif %}" href="{{site.baseurl}}/index.html">
      Home
    </a>
    <a class="nav-item is-tab {% if page.url == '/blog.html' %}is-active{% endif %}" href="#projects-area">
      Projects
    </a>
  </div>
</nav>