<section class="projects">
  <div class="container has-text-centered project-title">
    <h1 class="title is-2">What I've Done.</h1>
  </div>
  <div class="container">
    <div class="columns">
      {% for project in site.data.projects.projects %}
      <div class="column is-4">
        <div class="panel">
          <div class="panel-block section">
            <h2 class="title">{{ project.title }}</h2>
            <div class="image is-square">
              <img src="https://placehold.it/480x480">
            </div>
            <br>
            <p>{{ project.description }}</p>
            <br>
            <p class="has-text-right"><a class="button is-info is-outlined">See It</a></p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
