<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8">
    <title>Steve M</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.2.3/css/bulma.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <link href="{{site.baseurl}}/css/styles.css" rel="stylesheet">
</head>
<body>

<header>
    {% include nav.html %}
</header>

    {{ content }}
    {% include projects.html %}

<footer class="footer">
    {% include footer.html %}
</footer>

</body>
</html>